@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@300;600&display=swap');

form {
  display: flex;
}
.container {
  padding-top: 50px;
}
body, html {
  height: 100%;
}

h1 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 50px;
  margin: 0;
}

tr {
  font-family: 'Quicksand', sans serif;
  font-size: 20px;
  font-weight: 600;
}

td {
  font-family: 'Quicksand', sans serif;
  font-size: 15px;
  
}

.bg { 
  height: 100%; 
  background-image: url('/images/desk-1081708_1920.jpg');
  background-color: rgba(255, 255, 255, 0.488);
  background-blend-mode: lighten;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


#taskIn {
  width: 600px;
}

.fa-plus {
  color: rgba(24, 145, 42, 0.728);
}

.fa-circle {
  color: rgba(255, 0, 0, 0.468);
}

.fa-circle:hover {
  color: red;
}

.fa-plus:hover {
  color: rgb(4, 243, 40);
}

.fa-close {
  color: rgba(255, 0, 0, 0.468);
}

.fa-close:hover {
  color: red;
}

.strike {
  color: red;
  text-decoration: line-through;
}

.normal {
  color: black;
  text-decoration: none;
  text-align: left;
}
